body{
    margin: 20px;  
    font-family: 'Times New Roman', Times, serif;

}
.avatar{
    width: 150px;
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background: #e2eafc;
    color: #2b2839;
    
}

.border-blue{
    margin-top: 20px;
}
